#header{
  background-image: linear-gradient(to right top, #0056d8, #0073dc, #0086cc, #0093b4, #009d9d);
}

.grid1{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.logo{
  height: 50%;
}